
.header{
    width: 100%;
    height: 7vh;
    background-color: #7B015C;
    display: flex;
    align-items: center;
}
.logo{
color: #f3f3f3;
font-size: 1.5rem;
font-weight: bold;
padding-left: 2rem;
}