*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #f4f4f4;
}

.buttons button {
  color: white;
  border: 2px solid black;
  background-color: #7b015c;
  margin: 0 5px 0 5px;
}
.buttons{
display: flex;
justify-content: center;
  
}

.noProducts{
  text-align: center;
  margin-top: 3rem;
  font-size: 2rem;
  font-weight:bold;
}
